.background-image-left-project {
  top: 50%;
}

.projects {
  position: relative;
  padding: 100px 0px 100px 0px;
}

.projects h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.projects p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.projects .nav.nav-pills {
  display: flex;
  flex-wrap: wrap;
}
.projects .nav.nav-pills .nav-item {
  border: 1px solid rgba(255, 255, 255, 0.5);
  flex: 1 1 auto;
  border-radius: 0px;
}

.projects .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.projects .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 50%;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 55px;
}

.projects .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
  left: 0;
  border-radius: 0px;
}

.nav.nav-pills .nav-item:first-child {
  border-top-left-radius: 55px !important;
  border-bottom-left-radius: 55px !important;
}

.nav.nav-pills .nav-item:last-child {
  border-bottom-right-radius: 55px !important;
  border-top-right-radius: 55px !important;
}

.nav.nav-pills .nav-item:first-child .nav-link.active::before {
  border-top-left-radius: 55px !important;
  border-bottom-left-radius: 55px !important;
}

.nav.nav-pills .nav-item:last-child .nav-link.active::before {
  border-bottom-right-radius: 55px !important;
  border-top-right-radius: 55px !important;
}

.project-container {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.project-container::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.project-container:hover::before {
  height: 100%;
}

.project-text {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.project-container:hover .project-text {
  top: 50%;
  opacity: 1;
}

.project-text h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.project-text span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
