nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 9999;
  transition: 0.3s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100px;
}

nav.navbar a.navbar-brand {
  width: 16%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--text-color) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-social-icon-container {
  display: flex;
  align-items: center;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background-color: var(--social-icon-background);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid var(--social-icon-border);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: var(--social-icon-hover-background);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg);
}

.navbar-social-icon-container button {
  font-weight: 700;
  color: var(--text-color);
  border: 1px solid var(--social-icon-border);
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-social-icon-container button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--social-icon-hover-background);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-social-icon-container button:hover {
  color: var(--background-color);
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--navbar-toggle-button-color);
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: var(--navbar-toggle-button-color);
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar :not(.collapsed) .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: var(--navbar-toggle-button-color);
  height: 2px;
}

nav.navbar .collapsed .navbar-toggler-icon:after {
  transform: rotate(0deg);
  background-color: var(--navbar-toggle-button-color);
  height: 2px;
}

nav.navbar :not(.collapsed) .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: var(--navbar-toggle-button-color);
  height: 2px;
}

nav.navbar .collapsed .navbar-toggler-icon:before {
  transform: rotate(0deg);
  background-color: var(--navbar-toggle-button-color);
  height: 2px;
}

nav.navbar :not(.collapsed) .navbar-toggler-icon {
  border-color: transparent;
}

nav.navbar .collapsed .navbar-toggler-icon {
  border-color: var(--navbar-toggle-button-color);
}
