body {
  --text-color: white;
  --background-color: #121212;

  --social-icon-background: rgba(217, 217, 217, 0.1);
  --social-icon-hover-background: white;
  --social-icon-border: rgba(255, 255, 255, 0.5);

  --navbar-toggle-button-color: white;

  /* Banner Component */
  --tag-line-border-color: rgba(255, 255, 255, 0.5);
  --tag-line-cursor-color: #666;
  --tag-line-background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  --banner-info-text-color: #bbbbbb;
  --banner-button-text-color: white;
}
